

#top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
    box-shadow: 10px 5px 20px -15px #111;  
    width: 100%;
    position: sticky;
    padding-left: 30px;
    padding-right: 30px;
    top: 0%;
}

.top-nav-button {
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: #2F496E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F4EADE;
    cursor: pointer;
}