#top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: absolute;
    top: 0%;
}

.top-nav-button {
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: #2F496E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F4EADE;
    cursor: pointer;
}