#part-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    /* background-color: white; */
}

#part-container #top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 15px;
}  

#part-container .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2.5px solid #2F496E; 
    border-radius: 15px;
    margin: 40px;
    padding: 35px;
    height: 600px;
    width: 300px;
    background-color: white;
}  

#part-container .right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 2.5px solid #2F496E; 
    border-radius: 15px;
    padding: 35px;
    height: 600px;
    width: 300px;
    margin: 40px;
    background-color: white;
}  

#part-container .right p {
    font-size: 20px;
    margin: 10px;
}

/* #part-container .right button {
    
} */

#part-container h1 {
    font-size: 50px;
}

#part-container h2 {
    font-size: 40px;
}

#part-container img {
    height: 200px;
}

#part-container .purchase-button {
    font-size: 30px;
    border: none;
    background-color: #ED8C72;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

#part-container .add-url-button {
    font-size: 20px;
    border: none;
    background-color: #e2e2e2;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

#part-container .button:hover {
    color:#2F496E;
}

.add-buy-url {
    background-color: #2F496E;
    color: #F4EADE;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.add-buy-url:hover {
    background-color: #5d718f;
    color: #F4EADE;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 9px;
}