#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100px;
    position:fixed;
    left:0px;
    bottom:0px;
    background:#0c2649;
  }



#footer button {
    background-color: #0c2649;
    border: none;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
}

