
h2 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#button-section {
    display: flex;
    align-items:flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content:flex-start;
    flex-direction: row;
    margin-top: 20px;
}


p {
color: rgb(0, 0, 0);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
}



button:hover{
    cursor: pointer;
}

#delete-part-cards {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-bottom: 50px;
}

#delete-part-cards button{
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #2F496E;
    color: #F4EADE;
    width: 90px;
    font-size: 17px;
}