
h2 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#button-section {
    display: flex;
    align-items:flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content:flex-start;
    flex-direction: row;
    margin-top: 20px;
}


p {
color: rgb(0, 0, 0);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
}



button:hover{
    cursor: pointer;
}