/* TODO Add site wide styles */
/* #website {
    display: flex;
    flex-direction: row;
} */

/* .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". .";
  } */

  /* html { height:100%; } */
  body {
    min-height: 100vh;
      /* overflow: scroll; */
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .website {
      display: flex;
      flex-direction: row;
  }


  /* .nav-bar {
    min-height: 100vh;
    border: 2px solid black;
  } */

