#record-navbar {
    display: flex;
    justify-content: center;
}

#record-navbar a{
    text-decoration: none;
    color: #2F496E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 2px solid black; */
    margin: 40px;
    font-size: 25px;
}

.active {
    color: #ED8C72;
}

#display-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-bottom: 80px;
}

#display-box a {
    text-decoration: none;
}

#display-box #empty-space {
    height: 50px;
}

#add-record {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-record img {
    margin-top: 40px;
    margin-bottom: 40px;
}


