#record-navbar {
    display: flex;
    justify-content: center;
}

#record-navbar a{
    text-decoration: none;
    color: #2F496E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 2px solid black; */
    margin: 40px;
    font-size: 25px;
}

.active {
    color: #ED8C72;
}

#display-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
    /* padding: 100px */
    
}

#display-box a{
    text-decoration: none;
}

#display-box #empty-space {
    height: 50px;
}

#add-record {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-buttons {
    border: none;
    background-color: #2F496E;
    color: #F4EADE;
    border-radius: 5px;
}


.small-buttons {
    cursor: pointer;
}