#splash-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    /* background-image: linear-gradient(45deg, #2988BC, #2F496E); */
    background-image: linear-gradient(45deg, #50c0fb, #0b3674);
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#splash-logo img {
    height: 450px;
    margin-bottom: 50px;
}

#splash-page p {
    font-size: 60px;
    color: #ff3e3e;
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    margin-top: 0px;
}


#splash-button-container {
    width: 305px;
    /* border: 2px solid black ; */
    position: relative;
}

#splash-page button {
    background-color: #2F496E;
    color: #F4EADE;
    width: 130px;
    font-size: 30px;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: sans-serif;
}

#splash-page button:hover {
    background-color: #3a4e69;
}

#splash-page a {
    background-color: #2F496E;
    color: #F4EADE;
    font-family: sans-serif;
    font-size: 30px;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    margin: 10px;
    padding: 1.25px;
    padding-left: 12px;
    padding-right: 12px;
}

#splash-page a:hover {
    background-color: #3a4e69;
}

#splash-page #about {
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 1920px) {

    #splash-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #splash-logo img {
        height: 300px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 600px) {

    #splash-logo img {
        height: 280px;
        margin-bottom: 40px;
    }

    #splash-button-container {
        width: 225px;
    }

    #splash-page a {
        font-size: 16px;
        border-radius: 20px;
        margin: 10px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    #splash-page button {
        width: 90px;
        border-radius: 20px;
        font-size: 16px;
        margin: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

}