#splash-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    /* background-image: linear-gradient(45deg, #2988BC, #2F496E); */
    background-image: linear-gradient(45deg, #4a95bd, #163a6d);
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#splash-page h3 {
    color: #ED8C72;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#splash-button-container {
    width: 175px;
    
    position: relative
}

#splash-page button {
    background-color: #2F496E;
    color: #F4EADE;
    width: 65px;
    font-size: 12px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}