#login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F4EADE;
    width: 450px;
    height: 250px;
    padding: 25px;
    text-align: center;
}

#login-form-container input {
    width: 400px;
    height: 40px;
    margin: 10px;
    font-size: 25px;
}

#login-form-container button {
    background-color: #2F496E;
    color: #F4EADE;
    font-size: 25px;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
}
