#part-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid black; */
    border-radius: 15px;
 
};

#record-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: absolute; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color: #2F496E; */
}

#record-container #record-name {
    font-size: 55px;
    margin-top: 40px;
}

#record-container #record-make {
    font-size: 30px;
    margin: 15px;
}

#record-container p {
    font-size: 20px;
}
#record-container img {
    height: 200px;
}

#delete-record {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#delete-record p {
    margin: 20px;
}

#part-container h1 {
    font-size: 50px;
}
#part-container h2 {
    font-size: 40px;
}
#part-container p {
    font-size: 30px;
}

#part-container img {
    height: 200px;
}

#part-container button {
    font-size: 30px;
    border: none;
    background-color: #ED8C72;
    color: white;
}
#part-container button:hover {
    color:#2F496E;
}