
#record-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: absolute; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color: #2F496E; */
}
#record-container #top-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
}


#top-section #left {
    margin: 20px;
}

#top-section #right {
    margin: 20px;
}

#record-container #record-name {
    font-size: 55px;
    margin-top: 40px;
}

#record-container #record-make {
    font-size: 30px;
    margin: 15px;
}

#record-container .record-update {
    border: none;
    background-color: #2F496E;
    color: #F4EADE;
    border-radius: 5px;
}

#record-container .record-page-buttons:hover {
    cursor: pointer;
}

.record-add-parts {
    border: none;
    background-color: #2F496E;
    color: #F4EADE;
    border-radius: 5px;
}

.record-add-parts:hover {
    cursor: pointer;
}

#record-container p {
    font-size: 20px;
}
#record-container img {
    height: 200px;
}

#delete-record {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#delete-record p{
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}













